:root {
  scroll-behavior: smooth;
}

@media (min-width: 751px) {
  #docsearch-container:lang(zh-CN) {
    min-width: 184.66px;
  }
}

ul.contains-task-list {
  padding-left: 0;
}

.contains-task-list li
{
  list-style-type:none;
}
